@CHARSET "UTF-8";

.campoForm {
	padding-right: 45px ;
	padding-bottom: 45px ;
	margin-right: 30px !important;
	margin-bottom: 10px !important;
}

.btns {
	margin-top: 28px;
	padding: 18px;
	margin-right: auto;
}


.btns tr:FIRST-CHILD {
	float: right;
}

.btns td {
	padding-left: 10px;
}

.selectRadio label {
	margin-right: 28px;
}


.rodape {
	padding-top: 10px;
	margin-top: 50px;
	background-color: #337ab7;
	color: white;
}
