<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">Lista de Clientes</ui:define>
	<ui:define name="tituloDaPagina">Lista de Clientes</ui:define>


	<ui:define name="conteudo">
		<!-- FORMULARIO -->
		<h:form>
			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<p:dataTable value="#{clienteRestMB.clientes}" var="cliente"
				emptyMessage="Nenhum Cliente Encontrado" paginatorPosition="top">

				<p:column headerText="#{msg['cliente.lable.nome']}">
					<h:outputText value="#{cliente.nome}"></h:outputText>
				</p:column>

				<p:column headerText="#{msg['cliente.lable.endereco']}">
					<h:outputText value="#{cliente.endereco}"></h:outputText>
				</p:column>

				<p:column headerText="#{msg['cliente.lable.telefone']}">
					<h:outputText value="#{cliente.telefone}"></h:outputText>
				</p:column>
				<p:column headerText="#{msg['cliente.lable.cpf']}">
					<h:outputText value="#{cliente.cpf}"></h:outputText>
				</p:column>

				<p:column>
					<p:commandLink title="Editar" update="@form"
						style="margin-right: 5px;" process="@this"
						action="#{clienteMB.editar}">
						<p:outputLabel value="Editar"></p:outputLabel>
						<f:setPropertyActionListener value="#{cliente}"
							target="#{clienteMB.cliente}" />
					</p:commandLink>

					<p:commandLink title="Excluir" update="@form"
						style="margin-right: 5px;" process="@this"
						action="#{clienteMB.excluir}">
						<p:outputLabel value="Excluir"></p:outputLabel>
						<f:setPropertyActionListener value="#{cliente}"
							target="#{clienteMB.cliente}" />
					</p:commandLink>
				</p:column>

			</p:dataTable>



		</h:form>



	</ui:define>


</ui:composition>

</html>