<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- MENU -->
	<div id="menu" class="corpo">
		<h:form id="form_menu">

			<p:growl id="messages" />
			<p:menubar style="border:0px; border-radius: 0px; ">

				<p:menuitem value="#{msg['menu.inicio']}" icon="ui-icon-home"
					action="#{homeMB.paginaInicial()}" update="@all" />
				<p:submenu label="MVC" icon="ui-icon-document">
					<p:submenu label="#{msg['menu.cliente']}" icon="ui-icon-document">
						<p:menuitem value="#{msg['menu.cliente.cadastrar']}"
							action="#{clienteMB.cadastrar}" update="@all" />
						<p:menuitem value="#{msg['menu.cliente.listar']}"
							action="#{clienteMB.listar}" update="@all" />
					</p:submenu>

					<p:submenu label="#{msg['menu.fornecedor']}"
						icon="ui-icon-document">
						<p:menuitem value="#{msg['menu.fornecedor.cadastrar']}"
							action="#{fornecedorMB.cadastrar}" update="@all" />
						<p:menuitem value="#{msg['menu.fornecedor.listar']}"
							action="#{fornecedorMB.listar}" update="@all" />
					</p:submenu>
					
					<p:menuitem value="Enviar Foto"
							action="#{enviarFotoMB.telaEnviarFoto}" update="@all" />
				</p:submenu>
				<p:submenu label="REST" icon="ui-icon-document">
					<p:submenu label="#{msg['menu.cliente']}" icon="ui-icon-document">
						<p:menuitem value="#{msg['menu.cliente.cadastrar']}"
							action="#{clienteMB.cadastrar}" update="@all" />
						<p:menuitem value="#{msg['menu.cliente.listar']}"
							action="#{clienteRestMB.listar}" update="@all" />
					</p:submenu>

					<p:submenu label="#{msg['menu.fornecedor']}"
						icon="ui-icon-document">
						<p:menuitem value="#{msg['menu.fornecedor.cadastrar']}"
							action="#{fornecedorMB.cadastrar}" update="@all" />
						<p:menuitem value="#{msg['menu.fornecedor.listar']}"
							action="#{fornecedorMB.listar}" update="@all" />
					</p:submenu>
				</p:submenu>

			</p:menubar>

			<p:commandLink style="display: none;" value="Download" ajax="false"
				process="@this" id="fileDownload" update="@form">
				<p:fileDownload value="#{manualDoUsuario.manual}" />
			</p:commandLink>

		</h:form>
	</div>

</h:head>

<h:body>





</h:body>
</html>