<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<body>

	<div align="center" class="rodape">
		<h:panelGrid columns="1" style="text-align: center">
			
			<p:outputLabel value="#{msg['rodape.mensagem']}"></p:outputLabel>
			<p:outputLabel value="#{msg['rodape.contato']}"></p:outputLabel>
			<p:outputLabel value="#{msg['rodape.email']}"></p:outputLabel>
		</h:panelGrid>

	</div>
</body>
</html>
