<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">Cadastrar Fornecedor</ui:define>
	<ui:define name="tituloDaPagina">Cadastrar Fornecedor</ui:define>
	

	<ui:define name="conteudo">
		<!-- FORMULARIO -->
		<h:form id="fornecedor">

			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="1" id="panel_nome">
				<h:outputLabel for="nome" value="#{msg['fornecedor.lable.nome']}"></h:outputLabel>
				<p:inputText id="nome" value="#{fornecedorMB.fornecedor.nome}" required="true"></p:inputText>
			</h:panelGrid>
			<h:panelGrid columns="1" id="panel_endereco">
				<h:outputLabel value="#{msg['fornecedor.lable.endereco']}"></h:outputLabel>
				<p:inputText id="endereco" value="#{fornecedorMB.fornecedor.endereco}" required="true"></p:inputText>
			</h:panelGrid>
			<h:panelGrid columns="1" id="panel_telefone">
				<h:outputLabel value="#{msg['fornecedor.lable.telefone']}"></h:outputLabel>
				<p:inputMask id="telefone" value="#{fornecedorMB.fornecedor.telefone}" required="true" mask="(99) 99999-9999"></p:inputMask>
			</h:panelGrid>
			<h:panelGrid columns="1" id="panel_cnpj">
				<h:outputLabel value="#{msg['fornecedor.lable.cnpj']}"></h:outputLabel>
				<p:inputMask id="cnpj" value="#{fornecedorMB.fornecedor.cnpj}" required="true" mask="99.999.999/9999-99"></p:inputMask>
			</h:panelGrid>
			
			<br/>
			<p:commandButton action="#{fornecedorMB.alterar}" value="Salvar" process="@form" update="@form"></p:commandButton>

		</h:form>



	</ui:define>


</ui:composition>

</html>