<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">Lista de Forncedores</ui:define>
	<ui:define name="tituloDaPagina">Lista de Fornecedores</ui:define>
	

	<ui:define name="conteudo">
		<!-- FORMULARIO -->
		<h:form>

			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<p:dataTable value="#{fornecedorMB.fornecedores}" var="fornecedor"
				emptyMessage="Nenhum fornecedor Encontrado" paginatorPosition="top">

				<p:column headerText="#{msg['fornecedor.lable.nome']}">
					<h:outputText value="#{fornecedor.nome}"></h:outputText>
				</p:column>

				<p:column headerText="#{msg['fornecedor.lable.endereco']}">
					<h:outputText value="#{fornecedor.endereco}"></h:outputText>
				</p:column>

				<p:column headerText="#{msg['fornecedor.lable.telefone']}">
					<h:outputText value="#{fornecedor.telefone}"></h:outputText>
				</p:column>
				<p:column headerText="#{msg['fornecedor.lable.cnpj']}">
					<h:outputText value="#{fornecedor.cnpj}"></h:outputText>
				</p:column>

				<p:column>
					<p:commandLink title="Editar" update="@form"
						style="margin-right: 5px;" process="@this"
						action="#{fornecedorMB.editar}">
						<p:outputLabel value="Editar"></p:outputLabel>
						<f:setPropertyActionListener value="#{fornecedor}"
							target="#{fornecedorMB.fornecedor}" />
					</p:commandLink>

					<p:commandLink title="Excluir" update="@form"
						style="margin-right: 5px;" process="@this"
						action="#{fornecedorMB.excluir}">
						<p:outputLabel value="Excluir"></p:outputLabel>
						<f:setPropertyActionListener value="#{fornecedor}"
							target="#{fornecedorMB.fornecedor}" />
					</p:commandLink>
				</p:column>

			</p:dataTable>
			

		</h:form>



	</ui:define>


</ui:composition>

</html>